@media (768px <= width < 1024px) {
  :root {
    --default-spacing: 20px;
  }

  .page {
    gap: 60px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title {
    margin-left: -20px;
  }

  .header {
    padding: 191px var(--default-spacing) 184px var(--default-spacing);
    height: max(100vh, 1024px);
  }

  .content {
    gap: 80px;
  }

  .point {
    grid-template-columns: 1fr 2fr;
  }

  .point > .point-section {
    grid-column: span 2;
  }

  .point > .point-section.gallery {
    grid-column: span 3;
  }

  .point.points-title-column {
    grid-template-columns: 1fr 2fr;
  }

  .point.points-title-column > .point-section {
    grid-column-start: 2;
  }

  .gallery {
    grid-template-rows: 192px 230px 318px;
  }

  .footer {
    height: max(100vh, 1024px);
  }
}
