/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font: "IBM Plex mono", sans-serif;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --theme-switch-accent-color: #ff0070;
  --theme-switch-hover-color: #ff007066;
  --title-text-color: #db00ff;
  --title-shadow-color: #ff0070;
  --subtitle-text-color: #ff0070;
  --font-bold: 700;
  --decorated-background: #ff0070;
  --decorated-text-color: #000028;
  --text-color: #f1b2ce;
  --line-height: 130%;
  --font-size: 18px;
  --default-spacing: 10px;
  --link-shadow-color: #ff8dcb;
}
